* {
    background-color: rgb(182, 197, 197);
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container1 {
    border: groove, 10px, rgb(0, 0, 0);
    padding: 5PX;
}

.Score {
    font-size: larger;
}

.attempts {
    font-size: larger;
}

#attempts {
    border: groove, 6px, deeppink;
    padding: 5PX;
    font-weight: bold;
}

.container2 {
    border: groove, 10px, rgb(0, 0, 0);
    padding: 5PX;
    margin-top: 20px;
}

#Score {
    border: groove, 6px, deeppink;
    padding: 5PX;
    font-weight: bold;
}

.F1 {
    margin-bottom: 10px;
    text-align: center;
    border: groove, 7px, rgb(98, 60, 180);
    font-weight: bolder;
    padding: 5px;
    font-size: larger;
}

.F2 {
    margin-top: 10px;
    text-align: center;
    border: groove, 7px, rgb(98, 60, 180);
    font-weight: bolder;
    padding: 5px;
    font-size: larger;

}

h1 {
    color: rgb(9, 72, 131);
}