* {
    text-align: center;
    font-family: sans-serif;
}

h1 {
    font-weight: bolder;
    border: groove, 10px, rgb(6, 136, 94);
    padding: 10px;
    margin: 5px;
}

h2 {
    font-weight: bolder;
}

.container {
    border: groove, 5px, rgb(152, 15, 84);
    padding: 10px;
    margin: 5px;

}

.timer {
    border: groove, 7px, rgb(11, 82, 126);
    padding: 10px;
    margin: 5px;
    font-family: sans-serif;

}

#EV {
    margin-right: 20px;
}

p {
    font-size: larger;
}

button {
    text-align: center;
    font-size: larger;
}